%h2
  TODO list
%ul.todo_items
  - @todos.order(:created_at).each do |todo|
    %li.todo_item
      %span= todo.title
      - if todo.prior?
        %span.important !!!
      %form{action: todo_finished_path(todo), method: :post}
        %button{type: :submit} Finish
      - unless todo.prior?
        = form_for todo, url: todo_prioritised_path(todo), method: :post do |f|
          = f.submit 'Prioritise'
      = link_to 'Assign', new_todo_assign_path(todo.id)
= link_to 'New', new_todo_path